h1 {
  color: black;
}

.jumbotron {
  background-image: url("../images/wood.jpg");
  background-size: cover;
}

.jumbotron h1 {
  color: black;
}
.results {
  display: none;
}

select {
  font-weight: normal;
}
